*{
    margin: 20px;
    
    
}

body {
 /*background-image: url('../images/backgroundhelp.jpg');
    background-repeat: no-repeat ;
background-position: center;
    bgproperties="fixed";*/
background-color: lightblue;
}

button{
    float: right;
    font-size: 15px;
    margin-top:-60px;
    margin-right: 70px;
}